<div style="text-align: {{ section.settings.text-alignment }};">
  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when 'title' -%}
        <h4
          style="
            background-color: {{ block.settings.bg-color }};
            color: {{ block.settings.color-picker }};
          "
        >
          {{ block.settings.text }}
        </h4>

      {%- when 'subtitle' -%}
        <h2
          style="
            background-color: {{ block.settings.bg-color }};
            color: {{ block.settings.color-picker }};
          "
        >
          {{ block.settings.text }}
        </h2>

    {%- endcase -%}
  {%- endfor -%}
</div>


{% schema %}
{
  "name": "First section",
  "settings": [
    {
      "type": "select",
      "id": "text-alignment",
      "label": "Text alignment",
      "default": "center",
      "info": "Align the text in this section",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],

  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "hello wixpa"
        },
        {
          "type": "color",
          "id": "color-picker",
          "label": "Font Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "bg-color",
          "label": "Background Color",
          "default": "#ed3f3a"
        }
      ]
    },

    {
      "type": "subtitle",
      "name": "SubTitle",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "hello wixpa"
        },
        {
          "type": "color",
          "id": "color-picker",
          "label": "Font Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "bg-color",
          "label": "Background Color",
          "default": "#000000"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "hello word"
    }
  ]
}
{% endschema %}
